@font-face {
    font-family: Azt;
    src: url(../fonts/azt.ttf)format("truetype");
}

@font-face {
    font-family: Pacifico;
    src: url(../fonts/pacifico.ttf)format("truetype");
}

body {
    font-family: Pacifico;
    color: #964B00;
    height: 75vw;
    margin: 0;
    background-image: url(../images/poetry.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

h1 {
    font-family: Azt;
    color: #964B00;
    font-size: 5.38vw;
    font-weight: 700;
    position: absolute;
    left: 10vw;
    top: 5.38vw;
}

h2 {
    margin: 0;
    width: 100%;
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    width: 90%;
    height: 100%;
    margin-left: 6%;
}

.poem1,
.poem2,
.poem3,
.poem4,
.poem5,
.poem6,
.poem7,
.poem8 {
    width: 22.7vw;
    height: 18.9vw;
}

.heart {
    width: 2.7vw;
}

.underlined {
    width: 22.7vw;
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.counter {
    font-size: 1.5vw;
    padding-left: 0.75vw;
    color: #964B00;
}

p {
    width: 100%;
    margin: 0;
    margin-bottom: 0.4vw;
}

a {
    text-decoration: none;
    color: #964B00;
    height: 1.5vw;
}

.poem1 {
    visibility: hidden;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: azt;
    font-size: 3vw;
    font-weight: 700;
    text-align: center;
}

footer {
    width: 50%;
}

header {
    font-size: 4vw;
}

article {
    font-size: 2vw;
}

.container3 {
    position: absolute;
    top: 7.58vw;
    left: 15.16vw;
    display: flex;
    flex-direction: column;
}

hr {
    width: 500px;
}

.container3>form>input {
    width: 300px;
    height: 30px;
    font-size: 20px;
}

.container3>form>textarea {
    width: 300px;
    height: 300px;
    font-size: 20px;
}

.container3>form>button,
.container3>button {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

.back {
    position: absolute;
    top: 1.79vw;
    right: 7.58vw;
    font-size: 3vw;
}

.back2 {
    position: absolute;
    top: 5.68vw;
    right: 10.5vw;
    font-size: 3vw;
}

.otherbody {
    background-image: none;
}

.container3 {
    width: 50%;
}

input[name="hidden"] {
    display: none;
}

.advertisement {
    position: fixed;
    z-index: 2;
}

.advertisement>p {
    display: inline-block;
    font-size: 15px;
    width: 75px;
}

.advertisement>a {
    font-size: 20px;
}

.off {
    text-align: center;
    cursor: pointer;
}

@media all and (max-width: 550px) {
    body {
        height: 2000px;
        background-image: url(../images/poetry2.jpg);
        background-size: cover;
    }

    h1 {
        font-size: 13vw;
        left: 30vw;
        top: 13vw;
    }

    .poem2,
    .poem3,
    .poem4,
    .poem5,
    .poem6,
    .poem7 {
        width: 300px;
        height: 250px;
    }

    .heart {
        width: 25px;
    }

    .underlined {
        width: 300px;
    }

    .counter {
        font-size: 15px;
        padding-left: 7.5px;
    }

    .poem1 {
        height: 50px;
    }

    .poem8 {
        display: none;
    }

    .footer {
        font-size: 6vw;
    }

    .back {
        position: absolute;
        top: 1.29vw;
        right: 6.58vw;
        font-size: 4vw;
    }

    .back2 {
        position: absolute;
        top: 5.68vw;
        right: 10.5vw;
        font-size: 4vw;
    }

    .container3 {
        top: 12vw;
        left: 5vw;
        width: 75%;
    }

    header {
        font-size: 8vw;
    }

    article {
        font-size: 6vw;
    }

    .advertisement>p {
        width: 20px;
        font-size: 5px;
    }

    .advertisement>a {
        font-size: 10px;
    }

}

@media all and (min-width: 351px) and (max-width: 400px) {
    body {
        height: 2000px;
        background-image: url(../images/poetry4.jpg);
        background-size: cover;
    }
}

@media all and (min-width: 401px) and (max-width: 550px) {
    body {
        height: 2200px;
        background-image: url(../images/poetry4.jpg);
        background-size: cover;
    }

    .poem1 {
        width: 200px;
        height: 100px;
    }
}

@media all and (min-width: 551px) and (max-width: 1000px) {
    body {
        height: 1000px;
        background-image: url(../images/poetry5.jpg);
        background-size: cover;
    }

    .poem1,
    .poem2,
    .poem3,
    .poem4,
    .poem5,
    .poem6,
    .poem7,
    .poem8 {
        width: 28vw;
        height: 24vw;
    }
}

@media all and (min-width: 551px) and (max-width: 650px) {
    h1 {
        left: 13vw;
        top: 8vw;
    }

    .container3 {
        left: 10vw;
    }
}

@media all and (min-width: 325px) and (max-width: 350px) {

    hr,
    .footer {
        position: relative;
        top: 150px;
    }
}

@media all and (min-width: 445px) and (max-width: 465px) {

    hr,
    .footer {
        position: relative;
        top: 100px;
    }
}

@media all and (min-width: 788px) and (max-width: 900px) {

    hr,
    .footer {
        position: relative;
        top: 150px;
    }
}

@media all and (min-width: 466px) and (max-width: 488px) {

    hr,
    .footer {
        position: relative;
        top: 210px;
    }
}

@media all and (max-width: 325px) {

    .container3>form>input,
    .container3>form>textarea {
        width: 250px;
    }
}

@media all and (min-width: 325px) and (max-width: 350px) {
    hr {
        width: 0;
    }
}

@media all and (min-width: 444px) and (max-width: 488px) {
    hr {
        width: 0;
    }
}

@media all and (min-width: 788px) and (max-width: 900px) {
    hr {
        width: 0;
    }
}